@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
}

body {
  background-color: #eaeaea;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 30px 8vw;
  background: #eaeaea1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#logo {
  transform: translate(0px, -20px);
  animation: transLeftLogo 1.5s ease-in-out;
}

.Cervejaria {
  font-size: 2vw;
  text-decoration: none;
  font-weight: 600;
  transition: .5s;
  text-shadow: 3px 9px 3px rgba(0, 0, 0, 0.24);
  color: sandybrown;
}

.Nascimento {
  position: absolute;
  text-decoration: none;
  font-size: 2vw;
  transition: .5s;
  transform: translate(-50px, 35px);
  z-index: 0;
  font-weight: 600;
  text-shadow: 3px 9px 3px rgba(0, 0, 0, 0.24);
  color: sandybrown;
}

#logo:hover .Cervejaria {
  transition: .8s;
  text-shadow: 3px 9px 3px rgba(244, 165, 96, 0.185);
  filter: brightness(1.2);
}

#logo:hover .Nascimento {
  transition: .8s;
  text-shadow: 3px 9px 3px rgba(244, 165, 96, 0.185);
  filter: brightness(1.2);
}


.navBar {
  display: flex;
}

.navBar a {
  color: sandybrown;
  font-size: 1.5vw;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
  text-shadow: 3px 9px 3px rgba(244, 165, 96, 0.363);
  transition: .5s;
  animation: transUp 1.5s ease-in-out, 2s;
}

.navBar a:hover {
  transition: .5s;
  color: sandybrown;
  text-shadow: 3px 9px 3px rgba(0, 0, 0, 0.24);
  filter: brightness(1.2);
}

.socialMedia {
  display: inline-flex;
  flex-direction: row;
  width: 150px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 6px 10px;
  border: transparent solid 2px;
  text-decoration: none;
  transform: rotate(45deg);
  transition: 1s;
}

.socialMedia a:hover {
  border: sandybrown solid;
}

.socialMedia a i {
  font-size: 20px;
  color: sandybrown;
  transform: rotate(-45deg);
  text-shadow: 3px 9px 3px rgba(0, 0, 0, 0.24);
  animation: transRight 1.5s ease-in-out;
}

.socialMedia a:hover i {
  transition: 1s;
  filter: brightness(1.5);
}

main {
  margin: 0 auto;
  display: flex;
}

main #breja {
  width: 100vw;
  filter: blur(10px);
  box-shadow: 3px 3px 9px 9px black;
}

main #breja2 {
  width: 600px;
  border-radius: 50px;
  box-shadow: 3px 3px 9px 9px black;
}

.firstSec {
  animation: transLeft 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 25%;
  position: absolute;
  margin-left: 12vw;
  margin-top: 16vh;
}

.firstSec h3 {
  padding-top: 15px; 
  color: #eaeaea;
  filter: brightness(5) contrast(10);
}

.secondSec {
  animation: transRight2 1.5s;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 7vw;
  margin-left: 49vw;
  width: 50%;
  text-align: end;
}

.secondSec .breja3 {
  width: 400px;
  border-radius: 50px;
  box-shadow: 3px 3px 9px 9px black;
}

.secondSec h3 {
  padding-right: 30px;
  color: #222;
  padding-bottom: 80px;
  filter: brightness(5) contrast(10);
}

.thirdSec {
  animation: transLeft 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  margin-left: -4vw;
  margin-top: 84vh;
  position: absolute;
  width: 50%;
}

.thirdSec .breja4 {
  width: 700px;
  border-radius: 50px;
  box-shadow: 3px 3px 9px 9px black;
} 

.thirdSec h3 {
  color: #eaeaea;
  padding-left: 15px;
  filter: brightness(5) contrast(10);
}

.fourthSec {
  animation: transDown 1.5s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 70vh;
  width: 30%;
  margin-left: 54vw;
  position: absolute;
}

.fourthSec .breja5 {
  width: 500px;
  border-radius: 50px;
  box-shadow: 3px 3px 9px 9px black;
}

.fourthSec h3 {
  color: #222;
  padding-top: 30px;
  filter: brightness(5) contrast(10);
}

@keyframes transLeft {
  0% {
    transform: translateX(-400px) scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes transLeftLogo {
  0% {
    transform: translate(-400px, 0px) scale(.8);
    opacity: 0;
  }
  100% {
    transform: translate(0px, -20px) scale(1);
    opacity: 1;
  }
}

@keyframes transRight {
  0% {
    transform: translate(100px, -100px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(-45deg);
    opacity: 1;
  }
}

@keyframes transUp {
  0% {
    transform: translate(0px, -50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes transDown {
  0% {
    transform: translateY( 101vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes transRight2 {
  from {
    transform: translate(101%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
